@model BrakehillBarnsBooking.Models.BookingViewModel

@{
    ViewData["Title"] = "Booking Confirmation";
}

<div class="background"></div>
<form asp-action="Complete" asp-controller="Home" method="post">
    <div class="container">
        <div class="confirmation-container">
            <a href="javascript:history.back()" class="custom-back-link">&lt; <u>Back</u></a>
            <div style="text-align: center;">
                <h2>Booking Details</h2>
            </div>
            <table>
                <tr>
                    <th>Check-In Date</th>
                    <td>@Model.CheckIn.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>Check-Out Date</th>
                    <td>@Model.CheckOut.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>Accommodation Type</th>
                    <td>@Model.Accommodation</td>
                </tr>
                <tr>
                    <th>Number of People</th>
                    <td>@Model.NumPeople</td>
                </tr>
                <tr>
                    <th>Bringing Dogs</th>
                    <td>@(Model.BringingDogs ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>@Model.Phone</td>
                </tr>
            </table>
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </div>
</form>
